body {
    margin: 0;
}

#bg-image {
    width: 100%;
    height: 100vh;
    background-image: url("resources/bg-image.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}

#boy-charactor {
    height: 180px;
    margin-top: 355px;
    position: absolute;
}

.barrier {
    width: 150px;
    height: 100px;
    background-image: url("resources/wolf.gif");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 440px;
}

.score {
    font-family: 'Bungee Spice', sans-serif;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 80px;
    left: 125px;
}

#score-board {
    width: 350px;
    height: 350px;
    font-family: 'Luckiest Guy', cursive;
    color: brown;
    font-size: 18px;
    background-image: url("resources/score-board.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
